# where docs are output to on gitlab.. MUST be named public/
public/

.sass-cache/
.idea/

*.pyc

# IDE files for Visual Studio Code and Visual Studio
CMakeSettings.json
*.vscode/
*.vs/

# Build directories
webserver/bin
webserver/build
webserver/.venv
webserver/.venv/
webserver/venv/
venv/
obj/
.venv/


webserver/__pycache__
webserver/migrations/
webserver/migrations/versions
webserver/migrations/versions/__pycache__
# databases
*.db
webserver/*.db
webserver/ormsnippets.py
*.ipynb_checkpoints
Untitled*
*.swp
