{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<!-- </div>
<div style="margin-left:320px;
    <div style="w3-container">
<div class="container py-4 text-center">
 -->

    {% if not current_user.is_authenticated %}
         <a href="{{url_for('login')}}">Sign in/Sign Up</a>
    {% endif %}
    <h1>Settings {{ current_user.username }}</h1>


<!-- </div>
<div style="margin-left:320px; margin-right:70px">
    <div style="w3-container">
        <br>
        <h2>Settings</h2>
        <form id        = "uploadForm"
            enctype     = "multipart/form-data"
            action      = "settings"
            method      = "post"
            onsubmit    = "return validateForm()">
            
            <label class="container">
                <b>Enable Modbus Server</b>"""

 -->
<div class="container">
    <div class="row mt-4">
        <div class="col-lg-5 col-md-6 m-auto card p-4">

        {% if item %}
            <form action="{{ url_for('update_settings') }}" method="post">
                <input type="text" name="key" placeholder="KEY" value="{{item.key}}">
                <input type="text" name="value" placeholder="VALUE" value="{{item.value}}">
                <input type="hidden" name="setting_id" value="{{item.id}}">
                <input type="submit">
                <a href="/settings" >Cancel</a>
            </form>
        {% else %}
            <form action="{{ url_for('settings') }}" method="post">
                <input type="text" name="key" placeholder="KEY" >
                <input type="text" name="value" placeholder="VALUE" >
                <input type="hidden" name="setting_id">
                <input type="submit">
            </form>
        {% endif %}
            <table>
                {{item}}
                <tr>
                  <th>Key</th>
                  <th>Value</th>
                  <th>Action</th>
                </tr>
                {% for i in data %}
        
                    <tr>
                        <td>{{ i.key }}</td>
                        <td>{{ i.value }}</td>
                        <td>
                            <a href="/settings/edit/{{i.id}}" >Edit</a>
                            <a href="/settings/delete/{{i.id}}" >Delete</a>                    
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <form action="{{ request.path }}" method="POST" class="card-body">
                {{ form.csrf_token }}
                {# the above could also be: {{ form.hidden_tag() }} #}
                {{ form.hidden_tag() }}


                {% with messages = get_flashed_messages(with_categories=true) %}
                <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

                <div class="text-center">
                    <h2>OpenPLC_V3.1</h2>
                    <h5 class="text-primary">{{ text }}</h5>
                </div>
  
                <div class="form-group mb-3">
                    {{ form.key(class_="form-control",placeholder="key")}}
                </div>
            


                <div class="form-group mb-3">
                    {{ form.value(class_="form-control",placeholder="value")}}
                </div>

                {% for error in form.value.errors %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor%}

                <div class="text-center">

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-block btn-primary mb-3"> {{ btn_action }} </button>
                        <button type="button" class="btn-btn-block btn-primary mb-1" aria-label="Edit"> EDIT </button>
                    </div>
                   
                </div>
 
            </form>
                

</div>
{% endblock %}
<!-- 
<!-- if (flask.request.method == 'GET'):
return_str = pages.w3_style + pages.settings_style + draw_top_div() + pages.settings_head
return_str += draw_status()
return_str += """ -->


database = "openplc.db"
conn = create_connection(database)
if (conn != None):
    try:
        cur = conn.cursor()
        cur.execute("SELECT * FROM Settings")
        rows = cur.fetchall()
        cur.close()
        conn.close()
        
        for row in rows:
            if (row[0] == "Modbus_port"):
                modbus_port = str(row[1])
            elif (row[0] == "Dnp3_port"):
                dnp3_port = str(row[1])
            elif (row[0] == "Enip_port"):
                enip_port = str(row[1])
            elif (row[0] == "Pstorage_polling"):
                pstorage_poll = str(row[1])
            elif (row[0] == "Start_run_mode"):
                start_run = str(row[1])
            elif (row[0] == "Slave_polling"):
                slave_polling = str(row[1])
            elif (row[0] == "Slave_timeout"):
                slave_timeout = str(row[1])
        
        if (modbus_port == 'disabled'):
            return_str += """
                <input id="modbus_server" type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label for='modbus_server_port'><b>Modbus Server Port</b></label>
            <input type='text' id='modbus_server_port' name='modbus_server_port' value='502'>"""
        else:
            return_str += """
                <input id="modbus_server" type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
            <label for='modbus_server_port'><b>Modbus Server Port</b></label>
            <input type='text' id='modbus_server_port' name='modbus_server_port' value='""" + modbus_port + "'>"
            
        return_str += """
            <br>
            <br>
            <br>
            <label class="container">
                <b>Enable DNP3 Server</b>"""
        
        if (dnp3_port == 'disabled'):
            return_str += """
                <input id="dnp3_server" type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label for='dnp3_server_port'><b>DNP3 Server Port</b></label>
            <input type='text' id='dnp3_server_port' name='dnp3_server_port' value='20000'>"""
        else:
            return_str += """
                <input id="dnp3_server" type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
            <label for='dnp3_server_port'><b>DNP3 Server Port</b></label>
            <input type='text' id='dnp3_server_port' name='dnp3_server_port' value='""" + dnp3_port + "'>"
        
        return_str += """
            <br>
            <br>
            <br>
            <label class="container">
                <b>Enable EtherNet/IP Server</b>"""
                
        if (enip_port == 'disabled'):
            return_str += """
                <input id="enip_server" type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label for='enip_server_port'><b>EtherNet/IP Server Port</b></label>
            <input type='text' id='enip_server_port' name='enip_server_port' value='44818'>"""
        else:
            return_str += """
                <input id="enip_server" type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
            <label for='enip_server_port'><b>EtherNet/IP Server Port</b></label>
            <input type='text' id='enip_server_port' name='enip_server_port' value='""" + enip_port + "'>"
        
        return_str += """
            <br>
            <br>
            <br>
            <label class="container">
                <b>Enable Persistent Storage Thread</b>"""
                
        if (pstorage_poll == 'disabled'):
            return_str += """
                <input id="pstorage_thread" type="checkbox">
                <span class="checkmark"></span>
            </label>
            <label for='pstorage_thread_poll'><b>Persistent Storage polling rate</b></label>
            <input type='text' id='pstorage_thread_poll' name='pstorage_thread_poll' value='10'>"""
        else:
            return_str += """
                <input id="pstorage_thread" type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
            <label for='pstorage_thread_poll'><b>Persistent Storage polling rate</b></label>
            <input type='text' id='pstorage_thread_poll' name='pstorage_thread_poll' value='""" + pstorage_poll + "'>"
        
        return_str += """
            <br>
            <br>
            <br>
            <label class="container">
                <b>Start OpenPLC in RUN mode</b>"""
                
        if (start_run == 'false'):
            return_str += """
                <input id="auto_run" type="checkbox">
                <span class="checkmark"></span>
            </label>
            <input type='hidden' value='false' id='auto_run_text' name='auto_run_text'/>"""
        else:
            return_str += """
                <input id="auto_run" type="checkbox" checked>
                <span class="checkmark"></span>
            </label>
            <input type='hidden' value='true' id='auto_run_text' name='auto_run_text'/>"""
        
        return_str += """
            <br>
            <h2>Slave Devices</h2>
            <label for='slave_polling_period'><b>Polling Period (ms)</b></label>
            <input type='text' id='slave_polling_period' name='slave_polling_period' value='""" + slave_polling + "'>"
        
        return_str += """
            <br>
            <br>
            <br>
            <label for='slave_timeout'><b>Timeout (ms)</b></label>
            <input type='text' id='slave_timeout' name='slave_timeout' value='""" + slave_timeout + "'>"
        
        return_str += pages.settings_tail
        
    except Error as e:
        return_str += "error connecting to the database" + str(e)
else:
    return_str += "Error opening DB"
return return_str
elif (flask.request.method == 'POST'):
modbus_port = flask.request.form.get('modbus_server_port')
dnp3_port = flask.request.form.get('dnp3_server_port')
enip_port = flask.request.form.get('enip_server_port')
pstorage_poll = flask.request.form.get('pstorage_thread_poll')
start_run = flask.request.form.get('auto_run_text')
slave_polling = flask.request.form.get('slave_polling_period')
slave_timeout = flask.request.form.get('slave_timeout')

(modbus_port, dnp3_port, enip_port, pstorage_poll, start_run, slave_polling, slave_timeout) = sanitize_input(modbus_port, dnp3_port, enip_port, pstorage_poll, start_run, slave_polling, slave_timeout)
database = "openplc.db"
conn = create_connection(database)
if (conn != None):
    try:
        cur = conn.cursor()
        if (modbus_port == None):
            cur.execute("UPDATE Settings SET Value = 'disabled' WHERE Key = 'Modbus_port'")
            conn.commit()
        else:
            cur.execute("UPDATE Settings SET Value = ? WHERE Key = 'Modbus_port'", (str(modbus_port),))
            conn.commit()
            
        if (dnp3_port == None):
            cur.execute("UPDATE Settings SET Value = 'disabled' WHERE Key = 'Dnp3_port'")
            conn.commit()
        else:
            cur.execute("UPDATE Settings SET Value = ? WHERE Key = 'Dnp3_port'", (str(dnp3_port),))
            conn.commit()
            
        if (enip_port == None):
            cur.execute("UPDATE Settings SET Value = 'disabled' WHERE Key = 'Enip_port'")
            conn.commit()
        else:
            cur.execute("UPDATE Settings SET Value = ? WHERE Key = 'Enip_port'", (str(enip_port),))
            conn.commit()
            
        if (pstorage_poll == None):
            cur.execute("UPDATE Settings SET Value = 'disabled' WHERE Key = 'Pstorage_polling'")
            conn.commit()
        else:
            cur.execute("UPDATE Settings SET Value = ? WHERE Key = 'Pstorage_polling'", (str(pstorage_poll),))
            conn.commit()
            
        if (start_run == 'true'):
            cur.execute("UPDATE Settings SET Value = 'true' WHERE Key = 'Start_run_mode'")
            conn.commit()
        else:
            cur.execute("UPDATE Settings SET Value = 'false' WHERE Key = 'Start_run_mode'")
            conn.commit()
            
        cur.execute("UPDATE Settings SET Value = ? WHERE Key = 'Slave_polling'", (str(slave_polling),))
        conn.commit()
        
        cur.execute("UPDATE Settings SET Value = ? WHERE Key = 'Slave_timeout'", (str(slave_timeout),))
        conn.commit()
        
        cur.close()
        conn.close()
        configure_runtime()
        generate_mbconfig()
        return flask.redirect(flask.url_for('dashboard'))
        
    except Error as e:
        print("error connecting to the database" + str(e))
        return 'Error connecting to the database. Make sure that your openplc.db file is not corrupt.<br><br>Error: ' + str(e)
else:
    return 'Error connecting to the database. Make sure that your openplc.db file is not corrupt.'

 -->